<a href="https://colab.research.google.com/github/SuleymanBat/MY_PYTHON-WORKSHEETS/blob/master/Date_Datetime_Factorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def power(g):
  return g * g

print(power(3))

In [ ]:
pwd

In [ ]:
import math

In [ ]:
print(dir(math))

In [ ]:
print(math.__spec__)

TASK:

Let's import pi. factorial and log10 functions from math module. Print the value of pi, 4! and log10 of 1000 using these functions.**bold text**

In [ ]:
from math import pi, log10, factorial

In [ ]:
print(math.pi)

In [ ]:
factorial(4)

# The function of Factorial

In [ ]:
result = 1

for i in range(1,6):
  result *= i

In [ ]:
result

In [ ]:
def my_factorial(n):

  result = 1

  for i in range(1, n+1):
    result *= i

  if n == 0 or n==1:
    return 1
  else:
    return result

In [ ]:
my_factorial(0)

In [ ]:
my_factorial(5)

In [ ]:
def my_facto(n):

  if n == 1 or n == 0:
    return 1
  else:
    return n * my_facto(n-1)

TASK:

Lets import punctuation and digits function from string module. Print the all punctuation marks and digits chars using these functions

In [ ]:
import string as stg

In [ ]:
print(stg.punctuation)

In [ ]:
stg.digits

In [ ]:
dir(stg)

TASK:

Lets import today function from date object and now function from datetime object all from datetime module, print the current date(yyyy-mm-dd) and time using these functions.

In [ ]:
import datetime

In [ ]:
from datetime import date

In [ ]:
print(datetime.date.today())

In [ ]:
print(datetime.datetime.now())

TASK:

Using datetime module, write a program to calculate the following.

According to the general acceptance, Alex was born on 22 April 571 AD, and died on 8 June 632 AD. How many days have he lived in his life?

In [ ]:
from datetime import date

In [ ]:
date(571, 4, 22)

In [ ]:
birth = date(571, 4, 22)

In [ ]:
death = date(632, 6, 8)

In [ ]:
death - birth

In [ ]:
life_day = date.toordinal(death) - date.toordinal(birth)
life_day