In [1]:
10 ** 2

100

In [2]:
10 * 'str'

'strstrstrstrstrstrstrstrstrstr'

In [3]:
10%2

0

In [4]:
100%2

0

In [5]:
type(0)

int

In [7]:
type('kom')

str

In [8]:
type(239)

int

In [9]:
type('sena')

str

In [10]:
type(101.1)

float

In [11]:
type(101.0)

float

In [13]:
type(False)

bool

# Variable Assignment

In [14]:
a = 77

In [15]:
type(a)

int

In [16]:
type('a')

str

In [17]:
w = 99

In [18]:
type(w)

int

In [19]:
type('w')

str

In [20]:
w ** 2

9801

In [21]:
a ** 2

5929

In [22]:
a * w

7623

In [23]:
a * 2

154

In [24]:
f = 'hasan bat'

In [25]:
type(f)

str

In [28]:
2 * f

'hasan bathasan bat'

In [29]:
10 * f

'hasan bathasan bathasan bathasan bathasan bathasan bathasan bathasan bathasan bathasan bat'

In [32]:
first_name = 'Meliha'
last_name = 'Emine'

In [33]:
print('My first name is {} and My last name is {}'.format(first_name,last_name))

My first name is Meliha and My last name is Emine

In [34]:
first_name = 'NESE'
last_name = 'BAT'

In [35]:
print('My first name is {} and My last name is {}'.format(first_name,last_name))

My first name is NESE and My last name is BAT

In [37]:
print('My first name is {first} and My last name is {last}'.format(first = first_name, last = last_name))

My first name is NESE and My last name is BAT

In [38]:
len('emine')

5

In [39]:
len('Suleymanferitefemeliha')

22

In [2]:
bool()

False

In [4]:
my_str = 'Suleyman Bat123'

In [6]:
my_str.isalnum()

False

In [7]:
my_str = 'Suleyman123'

In [9]:
my_str.isalnum()

True

In [10]:
my_str.istitle()

True

In [11]:
my_str = 'uleyman123'

In [13]:
my_str.istitle()

False

In [15]:
my_str = 'Ferit Bat'

In [16]:
my_str.endswith('t')

True

In [17]:
my_str.startswith('F')

True

In [18]:
str_example = 'Hello World'
my_str = 'Suleyman'

In [19]:
my_str.isalpha() or str_example.isnum()

True

In [20]:
type([])

list

In [21]:
lst_example = []

In [22]:
type([])

list

In [24]:
lst = list()

In [25]:
type(lst)

list

In [26]:
lst = ['Mathematic','Geography', 4532, 234, 124,3242]

In [27]:
type(lst)

list

In [28]:
len(lst)

6

# Append

## Append is used to add elements in this lists

In [29]:
lst.append('Suleyman')

In [30]:
lst

['Mathematic', 'Geography', 4532, 234, 124, 3242, 'Suleyman']

In [31]:
lst.append(9999)

In [32]:
lst

['Mathematic', 'Geography', 4532, 234, 124, 3242, 'Suleyman', 9999]

## Indexing in list

In [33]:
lst[0]

'Mathematic'

In [34]:
lst[6]

'Suleyman'

In [35]:
lst[1:]

['Geography', 4532, 234, 124, 3242, 'Suleyman', 9999]

In [36]:
lst[1-1]

'Mathematic'

In [37]:
lst[1::]

['Geography', 4532, 234, 124, 3242, 'Suleyman', 9999]

In [38]:
lst[1:6]

['Geography', 4532, 234, 124, 3242]

In [39]:
lst[1:7]

['Geography', 4532, 234, 124, 3242, 'Suleyman']

In [40]:
lst.append(['sena','meliha'])

In [41]:
lst

['Mathematic',
 'Geography',
 4532,
 234,
 124,
 3242,
 'Suleyman',
 9999,
 ['sena', 'meliha']]

# Insert
- insert in a specific order

In [42]:
lst.insert(2,'nese')

In [43]:
lst

['Mathematic',
 'Geography',
 'nese',
 4532,
 234,
 124,
 3242,
 'Suleyman',
 9999,
 ['sena', 'meliha']]

In [44]:
lst.append(['tidnigen','magazin'])

In [45]:
lst

['Mathematic',
 'Geography',
 'nese',
 4532,
 234,
 124,
 3242,
 'Suleyman',
 9999,
 ['sena', 'meliha'],
 ['tidnigen', 'magazin']]

# extend method

In [46]:
lst = [1,2,3,4,5,6]

In [47]:
lst.extend([8,9])

In [48]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [49]:
sum(lst)

38

In [50]:
lst.pop()

9

In [51]:
lst

[1, 2, 3, 4, 5, 6, 8]

In [52]:
lst.pop()

8

In [53]:
lst

[1, 2, 3, 4, 5, 6]

In [54]:
lst.pop(0)

1

In [56]:
lst

[2, 3, 4, 5, 6]

In [57]:
lst = [1,1,2,3,4,5,6]

In [58]:
lst.count(1)

2

In [59]:
len(lst)

7

In [60]:
lst*2

[1, 1, 2, 3, 4, 5, 6, 1, 1, 2, 3, 4, 5, 6]

In [61]:
lst*5

[1,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 1,
 2,
 3,
 4,
 5,
 6]

In [67]:
lst = [6,33,2,66,34,5]

In [64]:
type(lst)

list

In [69]:
lst.sort()

In [70]:
lst

[2, 5, 6, 33, 34, 66]

In [71]:
set_var={1,2,3,4,3}

In [72]:
set_var

{1, 2, 3, 4}

In [73]:
set_var={'ironman', 'kilogram','moneytre'}

In [74]:
set_var

{'ironman', 'kilogram', 'moneytre'}

In [75]:
type(set_var)

set

In [76]:
print(set_var)

{'ironman', 'kilogram', 'moneytre'}

In [77]:
set_var.add('hulk')

In [78]:
set_var

{'hulk', 'ironman', 'kilogram', 'moneytre'}

In [89]:
set1={'ironman', 'kilogram', 'moneytre'}
set2={'hulk', 'ironman', 'kilogram', 'moneytre'}

In [91]:
set2.intersection(set1)

{'ironman', 'kilogram', 'moneytre'}

In [94]:
set2.intersection_update(set1)

In [95]:
set2

{'ironman', 'kilogram', 'moneytre'}

In [80]:
set2.difference(set1)

{'hulk'}

In [82]:
k={7,9,666}
l={4,55,6,77,8,99,0,90,88,66,55,44,33,22,11,22,34,2,3,1,3,44,5,33}

In [83]:
k.difference(l)

{7, 9, 666}

In [84]:
k.difference_update(l)

In [85]:
print(k)

{7, 9, 666}

In [86]:
set2.difference_update(set1)

In [87]:
print(set2)

{'hulk'}

In [88]:
set2.intersection(set1)

set()

In [96]:
num_set=set([0,1,2,3,4,5])

In [100]:
for n in num_set:
    print(n)

0
1
2
3
4
5

In [102]:
num_k=set([12,2,3,23,33])

In [103]:
for t in num_k:
    print(t)

33
2
3
12
23

In [104]:
num_k.discard(33)

In [105]:
num_k

{2, 3, 12, 23}

In [106]:
num_k.pop()

2

In [107]:
num_k

{3, 12, 23}

In [108]:
print(max(num_k))

23

In [109]:
print(min(num_k))

3

In [110]:
print(len(num_k))

3

In [111]:
num_k.isdisjoint(set2)

True

In [112]:
set2.isdisjoint(set1)

False

In [114]:
dict = {'car1':'peugeo','car2':'merce','car3':'honda'}

In [115]:
type(dict)

dict

In [116]:
dict['car3']

'honda'

In [117]:
dict['car2']

'merce'

In [119]:
dict['car1']

'peugeo'

In [123]:
for x in dict:
    print(x)

car1
car2
car3

In [124]:
for x in dict.values():
    print(x)

peugeo
merce
honda

In [125]:
for x in dict.items():
    print(x)

('car1', 'peugeo')
('car2', 'merce')
('car3', 'honda')

In [126]:
dict['car4']='toyot'

In [127]:
dict

{'car1': 'peugeo', 'car2': 'merce', 'car3': 'honda', 'car4': 'toyot'}

In [128]:
dict['car2']='subaru'

In [129]:
dict

{'car1': 'peugeo', 'car2': 'subaru', 'car3': 'honda', 'car4': 'toyot'}

In [131]:
car1_model={'subaru':2018}
car2_model={'fiat':2021}
car3_model={'porche':1999}

car_type = {'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

In [132]:
print(car_type)

{'car1': {'subaru': 2018}, 'car2': {'fiat': 2021}, 'car3': {'porche': 1999}}

In [133]:
print(car_type['car1'])

{'subaru': 2018}

In [134]:
print(car_type['car1']['subaru'])

2018

In [135]:
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'Geeks', 
        'A' : {1 : 'Geeks', 2 : 'For', 3 : 'Geeks'}, 
        'B' : {1 : 'Geeks', 2 : 'Life'}}

In [137]:
print(Dict)

{5: 'Welcome', 6: 'To', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

In [140]:
del Dict[6]

In [141]:
print(Dict)

{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

In [142]:
del Dict['A'][2]

In [143]:
Dict

{5: 'Welcome',
 7: 'Geeks',
 'A': {1: 'Geeks', 3: 'Geeks'},
 'B': {1: 'Geeks', 2: 'Life'}}

In [146]:
Dict.pop(5)

'Welcome'

In [147]:
Dict

{7: 'Geeks', 'A': {1: 'Geeks', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

In [148]:
Dict.pop('B')

{1: 'Geeks', 2: 'Life'}

In [149]:
Dict

{7: 'Geeks', 'A': {1: 'Geeks', 3: 'Geeks'}}

In [150]:
Dict.clear()

In [151]:
Dict

{}

In [152]:
tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'geek')

In [153]:
print(tuple1+tuple2)

(0, 1, 2, 3, 'python', 'geek')

In [154]:
tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'geek')
tuple3 = (tuple1, tuple2)

In [155]:
print(tuple3)

((0, 1, 2, 3), ('python', 'geek'))

In [156]:
tuple4=('serko')*3

In [157]:
tuple4

'serkoserkoserko'

In [158]:
tuple4=('serko',)*3

In [159]:
tuple4

('serko', 'serko', 'serko')

In [160]:
print(tuple1[1:]) 
print(tuple1[::-1]) 
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [161]:
print(len(tuple1))

4

# converting a list to tuple

In [162]:
lst = [1,3,5,6,7]

In [163]:
print(tuple(lst))

(1, 3, 5, 6, 7)

In [164]:
print(tuple('KASA'))

('K', 'A', 'S', 'A')

In [165]:
tup = ('serko',)
n=5 # #Number of time loop runs

In [166]:
data = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
pos = data.find('.')
print(data[pos:pos+3])

.ma